// Fonts
$main-font: "Open Sans", sans-serif;
$bold-font: "Ubuntu", sans-serif;

// Colours
$white: #fff;
$black: #333;
$grey: #444;
$lightGrey: #b4b4b4;
$lightYellow: #c8ae5b;
$lightBlue: #e7f4fe;
$green: #017c45;
$brown: #961412;
$darkGreen: #006e3e;
$darkRed: #a40000;
$darkGrey: #5b5b5b;

$bookingBlue: #0a6fba;
$bookingYellow: #f3ce56;
$bookingGreen: #00874d;

// Set colours
$background-split: $bookingBlue;
$inputBorder: $lightYellow;
$buttonColor: $bookingGreen;
$buttonHoverColor: $darkGreen;
$error: $darkRed;
$resultHover: $lightBlue;

$city: $bookingBlue;
$airport: $brown;
$district: $green;
$station: $darkGrey;
